@charset "utf-8";
*{margin:0;padding:0;}
body{background:#f2f2f2 !important;}
a{text-decoration:none;color:#000 !important;}
a:hover{text-decoration:none !important;}
#toptop{
	height:32px;
	background:#e0e0e0;
	border-bottom:1px #000;
}
#toptop_inner{
	width:1000px;
	height:31px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}